@page "/weather/{CityName}/{CityId}"
@using System.ComponentModel.DataAnnotations
@using WeatherApp.WebUI.Models
@using WeatherApp.WebUI.Services
@inject IWeatherService WeatherService

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

@if (report == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Current</h3>

    <ul>
        <li><b>Fahrenheit</b>: @report.Current.Fahrenheit</li>
        <li><b>Celsius:</b> @report.Current.Celcius</li>
        <li><b>Feels Like, Fahrenheit:</b> @report.Current.FeelsLikeFahrenheit</li>
        <li><b>Feels Like, Celsius:</b> @report.Current.FeelsLikeCelcius</li>
        <li><b>Humidity:</b> @report.Current.Humidity</li>
        <li><b>Atmospheric Pressure (MB):</b> @report.Current.AtmosphericPressure</li>
        <li><b>Wind Speed (MPH):</b> @report.Current.WindSpeedMph</li>
        <li><b>UV Index:</b> @report.Current.UVIndex</li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Current</th>
                <th scope="col">1 Day</th>
                <th scope="col">2 Day</th>
                <th scope="col">3 Day</th>
            </tr>
        </thead>
            <tr>
                <th scope="col">Fahrenheit</th>
                <td>@report.Current.Fahrenheit</td>
            </tr>
            <tr>
                <th scope="col">Celsius</th>
                <td>@report.Current.Celcius</td>
            </tr>
            <tr>
                <th scope="col">Feels Like, Fahrenheit</th>
                <td>@report.Current.FeelsLikeFahrenheit</td>
            </tr>
            <tr>
                <th scope="col">Feels Like, Celsius</th>
                <td>@report.Current.FeelsLikeCelcius</td>
            </tr>
            <tr>
                <th scope="col">Humidity</th>
                <td>@report.Current.Humidity</td>
            </tr>
            <tr>
                <th scope="col">Atmospheric Pressure (MB)</th>
                <td>@report.Current.AtmosphericPressure</td>
            </tr>
            <tr>
                <th scope="col">Wind Speed (MPH)</th>
                <td>@report.Current.WindSpeedMph</td>
            </tr>
            <tr>
                <th scope="col">UV Index:</th>
                <td>@report.Current.UVIndex</td> 
            </tr>
    </table>
}

@code {
    @* We use this one simply to make the URI readably for the end-user. *@
    [Parameter]
    public required string CityName {get; set;}

    @* We use this one to lookup the city from the API. *@
    [Parameter]
    public required string CityId {get; set;}

    private WeatherLocationReport report;

    protected override async Task OnInitializedAsync()
    {
        report = await WeatherService.GetCurrentWeatherByCityId(10);
    }
}