@using WeatherApp.WebUI.DTOs

@if (ForecastDays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm table-bordered table-weather table-weather-forecast">
        <caption class="caption-top">Three Day Forecast</caption>
        <thead>
            <tr>
                <th colspan="2" scope="col"></th>
                @foreach(var forecast in ForecastDays) 
                {
                    <th>
                        @(DateTime.Parse(forecast.Date).ToString("dddd d MMM"))
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="th-section table-active" colspan="5" scope="col">Fahrenheit</th>
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Ave</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.AverageFahrenheit</td>
                }
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Min</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.MinFahrenheit</td>
                }
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Max</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.MaxFahrenheit</td>
                }
            </tr>
            <tr>
                <th class="th-section table-active" colspan="5" scope="col">Celsius</th>
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Ave</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.AverageCelcius</td>
                }
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Min</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.MinCelcius</td>
                }
            </tr>
            <tr>
                <th class="th-nested" colspan="2" scope="col">Max</th>
                @foreach(var forecast in ForecastDays) 
                {
                    <td>@forecast.Day.MaxCelcius</td>
                }
            </tr>
        </tbody>
    </table>
}

@code {

    [Parameter]
    public required IEnumerable<ForecastDayDTO> ForecastDays {get; set;}
}